<DockLayout>
  <StackLayout class= '{{ menuOpen ? "nav open" : "nav close" }}'  dock="left">
    <Button nsRouterLink="/" [text]="'GLOBAL' | translate" class="navBtn action-item active" width="100%"></Button>
    <Button nsRouterLink="/home" [text]="'HOME' | translate" class="navBtn action-item" width="100%"></Button>
    <Button nsRouterLink="/about" [text]="'ABOUT' | translate" class="navBtn action-item" width="100%"></Button>
    <Button nsRouterLink="/chat" [text]="'CHAT' | translate" class="navBtn action-item" width="100%"></Button>
  </StackLayout>
  <StackLayout dock="left" class="p-0 m-0">
    <ActionBar title="Angular Seed Advanced" (swipe)="onSwipe($event)" class="action-bar">
      <ActionItem nsRouterLink="/about" ios.position="right" android.position="popup">
        <Button [text]="'ABOUT' | translate" class="action-item"></Button>
      </ActionItem>
    </ActionBar>
    <lang-switcher></lang-switcher>
    <ScrollView>
      <GridLayout >
        <router-outlet></router-outlet>
      </GridLayout>
    </ScrollView>
  </StackLayout>
</DockLayout>
<!--http://www.nativescriptsnacks.com/snippets/2016/09/01/chat-layout.html-->



