/**
 * Created by Dominic on 28-02-2017.
 */


$primary: #106cc8;
$secondary: #28739e;


$dialog-border-color: #CDCFD3;
$dialog-bgColor: #ffffff;

$button-gradient-start: #fefefe;
$button-gradient-end: #e6e6e6;

$button--hover-gradient-start: #e0f3ff;
$button--hover-gradient-end: #c1d7ff;
$button--hover-stroke: #949494;

$button--mouseDown-gradient-start: #90b6ff;
$button--mouseDown-gradient-end: #c7e9ff;
$button--hover-stroke: #949494;

$tabItem--border-color: #a1a1a1;
$tabItem--active-color: #ffffff;
$tabItem--hover-color: rgba(255, 255, 255, 0.8);

$grid--headerText-color: #666666;

$grid--header-flex-bgColor: #e7e7e7;
$grid--header-html-bgColor: #fafafa;

$grid-row-flex-hover-color:#AAE2FF;
$grid-row-html-hover-color:#f8f8f8;

$grid--rowEven-color: #f3f7fb;
$grid--rowOdd-color:  #ffffff;

$grid--border-flex-color:#dddddd;
$grid--border-html-color:#e8e8e8;
