.ag-fresh {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.ag-fresh .ag-root {
  border: none;
}

.ag-fresh .ag-header-cell-label {
  padding: 0;
  text-overflow:inherit;
  overflow: visible;
}

.ag-fresh .ag-header {
  border-bottom: 2px solid #000;
}
.ag-fresh .ag-header-row {
  font-weight: bold;
  font-size: 13px;
  line-height: 1em;
  color: #000;
  border: none;
}
.ag-fresh .ag-ltr .ag-header-cell {
  padding: 4px;
  border: none
}

.ag-fresh .ag-row {
  border-bottom: 1px solid #ddd;
}
.ag-fresh .ag-row:nth-child(odd){
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}

.ag-fresh .ag-row:last-child {
  border-bottom: none;
}
.ag-fresh .ag-row:hover {
  background-color: $grid-row-html-hover-color;
  border-top: 1px solid #aaa;
  border-color: #aaa;
}
.ag-fresh .ag-row .ag-cell {
  color: #333;
  //padding: 10px 15px;
}
.ag-fresh .ag-row .ag-cell:focus,
.ag-fresh .ag-row .ag-cell:hover {
  font-weight: bold;
  background-color: #d0edf3 ;
  color:#000;
}

.ag-sort-ascending-icon, .ag-sort-descending-icon {
  display: inline-block;
  float: right;
}

.ag-cell[colid = 'host'] {
  background: url("./assets/icons/network.png") no-repeat;
  background-size: 25px;
  background-position-x: 50%;
}

.ag-cell[colid = 'performance'] {
  background: url("./assets/icons/areaChart.png") no-repeat;
  background-size: 25px;
  background-position-x: 50%;
}

.ag-cell {
  line-height: 2em;
}

.ag-cell .progress-indicator {
  position: absolute;
  top: 33%;
}
