/**
 * Created by Dominic on 28-02-2017.
 */

.htmlClient {

  .dialog--header-gradient {
    @include gradientGen($dialog-border-color, #e3e6ed, null);
  }

  .button-gradient {
    @include gradientGen($button-gradient-start, $button-gradient-end, null);
  }

  .button--hover-gradient {
    @include gradientGen($button--hover-gradient-start, $button--hover-gradient-end, $button--hover-stroke);
  }

  .button--mouseDown-gradient {
    @include gradientGen($button--mouseDown-gradient-start, $button--mouseDown-gradient-end, $button--hover-stroke);
  }

  button, .buttonEffect {
    height: 22px;
    border-radius: 3px;
    border: 1px solid #949494;
    @extend .button-gradient;
  }

  button:hover, .buttonEffect:hover {
    @extend .button--hover-gradient;
  }

  button:active, .buttonEffect:hover {
    @extend .button--mouseDown-gradient;
  }

  .dialog {
    border: 1px solid $dialog-border-color;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .dialog--header-vmWare {
    font-family: Arial;
    font-weight: bold;
    font-size: 12pt;
    color: #333333;
    @extend .dialog--header-gradient;
  }

  .tabItem {
    border-color: $tabItem--border-color;
    cursor: pointer;

    a {
      color: #333333 !important;
    }
  }

  .tabItem.active {
    background-color: $tabItem--active-color;
  }

  .tabItem:hover {
    background-color: $tabItem--hover-color;
  }

  /** Styling for Data Grid */

  ag-grid-ng2 {
    border: 1px solid $grid--border-flex-color;
  }

  .ag-header-viewport {
    font-family: "Arial";
    color: $grid--headerText-color;
    background-color: $grid--header-flex-bgColor;
  }

  //.ag-row:nth-child(even) {
  //  background-color: $grid--rowEven-color;
  //}
  //
  //.ag-row:nth-child(odd) {
  //  background-color: $grid--rowOdd-color;
  //}

  .ag-row-hover {
    background-color: $grid-row-html-hover-color !important;
  }

  .ag-header-cell {
    border-right: #ddd solid 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(221, 221, 221);
  }

  .ag-cell {
    padding-left: 5px;
  }

  .ag-cell:nth-last-child(1) {
    border-right: none !important;
  }

  .ag-body-container .ag-row .ag-cell {
    border-left: 1px solid $grid--border-flex-color;
  }

  /** Styling for Data Grid Ends*/

  .tabItem.active {
    font-weight: 700;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px;
    border-bottom: 3px solid #007cbb;
    border-radius: 0;
  }

  .nav-tabs > li > a:hover {
    background: #ffffff;
    border: 0px;
    border-bottom: 3px solid #007cbb;
    border-radius: 0;
  }

  .ag-row-focus {
    background-color: #fafafa;
  }

  .ag-row-selected {
    background-color: #eeeeee;
  }

  .ag-body-container {
    border-bottom: 1px solid $grid--border-html-color;
    border-right: 1px solid $grid--border-flex-color;
  }

}
